/* Header Styles */
.nav-hero-text {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-travel-text {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-right-side {
    display: flex;
    align-items: center;
}

.nav-right-side img {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
    margin-right: 17px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 135px;
    margin-right: 127px;
}

.nav-left-side li {
    list-style: none;
}

li a {
    padding-right: 44px;
}

.menu-btn {
    display: none;
}

/* First Section */
.first-image {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('images/group13.png');
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.first-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 106px;
    margin-bottom: 24px;
}

.first-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 48px;
    padding: 0 100px;
}

.first-search {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
}

::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}

.list-item {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
}

.first-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.first-find-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Second Section */
.second-main {
    margin-left: 160px;
}

.second-section {
    display: flex;
    justify-content: space-between;

}

.second-image {
    width: 540px;
    padding: 40px 0;
    flex-shrink: 0;
    border-radius: 16px;
    margin-right: 160px;
}

.second-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.second-description {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 16px;
}

.second-main ul li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 16px;
}

.second-conclusion {
    width: 530px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-top: 24px;
}

.second-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.second-button-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
}

/* Third Section */
.third-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.third-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.third-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 24px;
}

.row1 {
    display: flex;
    margin: 0 160px;
    gap: 40px;
}

.row1-image {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle5.png');
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
}

.row1-text {
    width: 573px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row2-image {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle8.png');
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
}

.row2 {
    display: flex;
    margin: 0 160px;
    gap: 33px;
    margin-top: 24px;
}

.row2-1 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle6.png');
    width: 374px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.row2-2 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle7.png');
    width: 474px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.row2-3 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle9.png');
    width: 274px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.srilanka-text {
    width: 374px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.north-text {
    width: 474px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kashmir-text {
    width: 274px;
    height: 286px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row3 {
    display: flex;
    margin: 0 160px;
    gap: 43px;
    margin-top: 24px;
}

.row3-1 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle11.png');
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;

}

.row3-2 {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('images/Rectangle10.png');
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
}

.bangladesh-text {
    width: 473px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bandarban-text {
    width: 673px;
    height: 300px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fourth Styles */
.fourth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.fourth-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.first-card,
.second-card {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    margin-bottom: 24px;

}

.first-card img {
    width: 64px;
    height: 64px;
    padding-top: 32px;
}

.second-card img {
    width: 64px;
    height: 64px;
}

.fourth-card-third img {
    width: 64px;
    height: 64px;
    padding-top: 32px;
}

.card-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 16px;

}

.card-description {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.second-card {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.fourth-card-first {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fourth-card-third {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-left: 25px;
}

.last-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fifth Section */
.fifth-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}

.fifth-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-top: 24px;
    margin-bottom: 48px;
}

.fifth-first-card {
    background-image: url(images/Group39.png);
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0 auto;
    position: relative;
    margin-bottom: 24px;
}

.fifth-second-card {
    background-image: url(images/Group40.png);
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0 auto;
    position: relative;
    margin-bottom: 24px;
}

.inside-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.list-text {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-items {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list-top {
    display: flex;
    gap: 24px;

}

.inside-description {
    width: 452px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.inside-button-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.inside-button {
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.inside-price {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.first-card-design {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin: 56px 0;
    margin-left: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.second-card-design {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin: 56px 0;
    margin-left: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

/* Sixth Section */
.sixth-section{
    display:flex;
    gap: 14px;
    margin-left: 160px;
}

.sixth-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sixth-description {
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */

}

.sixth-section-input {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    display: block;
    margin-bottom: 10px;
}

.sixth-button {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    background: #FF5400;
    display: block;
}

.sixth-button-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sixth-line {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0;
    margin-bottom: 24px;

}

.sixth-first {
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 40px;
}

.sixth-second-first {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sixth-second-second {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sixth-second-img {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position:absolute;
}

.sixth-first-img img {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    position:relative;
    
}














/* Responsive Media Queries */
@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }

    .nav-left-side ul {
        display: none;
    }

    .menu-btn {
        display: block;

        background: none;
        border: none;

    }

    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .first-image {
        width: 335px;
        height: 483px;
        flex-shrink: 0;
        background-position: 50% 50%;
        padding-top: 20px;
    }

    .first-heading {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 0;
        margin-top: 100px;


    }

    .first-description {
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        /* 150% */
        padding: 0 20px;
        margin-bottom: 32px;
    }

    .first-search {
        flex-direction: column;
        margin: 0px;
        margin-bottom: 110px;
    }

    .second-image {
        width: 335px;
        height: 342px;
        padding: 0;
        flex-shrink: 0;
        margin: 0;
        overflow: hidden;
        margin-top: 24px;
        margin-left: 10px;
    }

    .second-section {
        flex-direction: column;
    }

    .second-main {
        margin-left: 10px;
    }

    .second-heading {
        color: #131318;

        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .second-description,
    .second-main ul li {
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .second-main ul {
        padding-left: 20px;
    }

    .second-conclusion {
        width: 335px;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }


    .third-heading {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .third-description {
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */

    }

    .row1,
    .row2,
    .row3 {
        flex-direction: column;
        margin: 0;
        gap: 16px;
        overflow: hidden;


    }

    .row2-image,
    .row2-3 {
        margin-bottom: 16px;
        overflow: hidden;
    }

    .row2-3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;

    }

    .row1-image,
    .row2-image,
    .row2-1,
    .row2-2,
    .row2-3,
    .row3-1,
    .row3-2,
    .row1-text,
    .srilanka-text,
    .north-text,
    .kashmir-text,
    .bangladesh-text,
    .bandarban-text {
        width: 335px;
        height: 176px;
        overflow: hidden;
    }

    .fourth-heading {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .fourth-description {
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .fourth-card-first {
        flex-direction: column;
    }

    .first-card,
    .second-card,
    .fourth-card-third {
        width: 335px;
        height: 289px;
    }

    .card-description {
        width: 271px;
    }

    .fourth-card-third img {
        padding-top: 10px;
    }

    .fifth-heading {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .fifth-description {
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .fifth-first-card,
    .fifth-second-card {
        width: 335px;
        height: 500px;
        flex-shrink: 0;
        background-position: 50% 50%;
        border-radius: 16px;
        margin: 0;
    }

    .first-card-design,
    .second-card-design {
        width: 303px;
        height: 297px;
        flex-shrink: 0;
        margin: 56px 0;
        margin-left: 5px;
        padding: 0;
        padding-left: 10px;
        margin-top: 170px;
    }

    .inside-title {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .inside-description {
        width: 254px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }

    .fifth-cards {
        margin-right: 0;
    }

    .sixth-first {
        width: 335px;
        height: 353px;
        flex-shrink: 0;
        margin-top: 24px;
    }

    .sixth-heading {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .sixth-description {
        width: 270px;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .sixth-section-input {
        width: 288px;
        height: 52px;
        flex-shrink: 0;
    }

    .sixth-button {
        width: 288px;
        height: 52px;
        flex-shrink: 0;
    }

    .sixth-line {
        width: 288px;
        height: 1px;
    }

}